<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="@Url.Action("Cinemas", "Admin")">Cinemas</a>
                <a class="nav-link" href="@Url.Action("Movies", "Admin")">Movies</a>
                <a class="nav-link" href="@Url.Action("Halls", "Admin")">Halls</a>
                <a class="nav-link" href="@Url.Action("Seats", "Admin")">Seats</a>
                <a class="nav-link" href="@Url.Action("AvailableDates", "Admin")">AvailableDates</a>
                <a class="nav-link" href="@Url.Action("AvailableSeats", "Admin")">AvailableSeats</a>
            </div>
        </div>
    </div>
</nav>